@model RegisterAdminViewModel

@{
    ViewBag.Title = "Register admin";
}

<div class="container">
    <h2 class="text-center">Register Admin</h2>
    
    <form asp-controller="Account" asp-action="RegisterAdmin" method="post">
        <input asp-for="ReturnUrl" hidden/>

        <div class="mb-2">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control"/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="AdminToken" class="form-label"></label>
            <input asp-for="AdminToken" class="form-control"/>
            <span asp-validation-for="AdminToken" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@(Model.ReturnUrl ?? string.Empty)">Login</a>
            <button class="btn btn-success" type="submit">Register</button>
        </div>
    </form>
</div>