@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCF6BD;
  --foreground: #171717;
  --default-color-pink: #FF99C8;
  --default-color-green: #D0F4DE;
  --default-color-blue: #A9DEF9;
  --default-color-purple: #E4C1F9;
  
  --fs-lg-1: 32px;
  --fs-lg-2: 48px;
  --fs-lg-3: 64px;
  --fs-lg-4: 86px;
  
  --fs-md-1: 16px;
  --fs-md-2: 20px;
  --fs-md-3: 24px;
  --fs-md-4: 28px;
  
  --fs-sm-1: 8px;
  --fs-sm-2: 10px;
  --fs-sm-3: 12px;
  --fs-sm-4: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCF6BD;
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
