.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 15px;
  font: inherit;
  border-radius: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  
  outline: none;
  color: #ffff;
  border: 3px solid #ffffff4d;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgb(0 107 179);
  transition: all 0.3s ease-in-out;
}
.button span {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
}
.icon {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
          120deg,
          rgba(255, 255, 255, 0) 30%,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.button:active {
  transform: scale(0.95);
}